<html ng-app="sp">
<head>
    <link rel="stylesheet" type="text/css" href="https://talkslab.github.io/metro-bootstrap/dist/css/metro-bootstrap.min.css">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js"></script>
    <script src="js/sp.js"></script>
    <link rel="stylesheet" type="text/css" href="datetime/css/bootstrap-datetimepicker.min.css">
    <script src="datetime/js/bootstrap-datetimepicker.min.js"></script>    
</head>
<body style="background-image:url('')" ng-controller="spCntrl as sc">
<!--    <a class="btn" ng-click="sc.setRoute('login')">login</a>
   <a class="btn" ng-click="sc.setRoute('landingPage')">landingPage</a>  -->
   <div class="container" ng-view>

</div>
</body>
</html>